<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="{{ url_for('user.index') }}">Flask Masterclass</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
        {% if current_user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('user.form_new_user') }}">Register User</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="{{ url_for('auth.login') }}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('book.add_book') }}">New Book</a>
            </li>  
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('email.send_mail') }}">Send Mail</a>
            </li>
        {% else %}
            <li class="nav-item">
              <a class="nav-link disabled" href="{{ url_for('user.form_new_user') }}">Register User</a>
            </li> 
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('auth.login') }}">Login</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="{{ url_for('book.add_book') }}">New Book</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="{{ url_for('auth.logout') }}">Logout</a>
            </li>
            <li class="nav-item">
              <a class="nav-link disabled" href="{{ url_for('email.send_mail') }}">Send Mail</a>
            </li>
        {% endif %}
      </ul>
    </div>
  </nav>
