{% macro book_form(form) %}

    <div class = 'container form'>
        <form action="{{ url_for('book.add_book') }}" method="POST">
            {{ form.csrf_token }}
            <fieldset>
                <div class="form-group mb-3" style='width: 30%'>
                    <label for="name">Name</label>
                    {{ form.name(class_='form-control') }}
                </div>

                {{ form.submit(class_='btn btn-primary btn-m') }}
                
                {% include 'components/voltar.html' %} 

            </fieldset>
        </form>
    </div>

{% endmacro %}